#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";

        /* Rows (Input): Direct SAMD21 Ports for D0-D5 */
        row-gpios
            = <&porta 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* D0 */
            , <&porta 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* D1 */
            , <&porta 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* D2 */
            , <&porta 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> /* D3 */
            , <&porta 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* D4 */
            , <&porta 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* D5 */
            ;

        /* Cols (Output): Direct SAMD21 Ports for D6-D10 */
        col-gpios
	    = <&xiao_d 6 GPIO_ACTIVE_HIGH>
            , <&xiao_d 7 GPIO_ACTIVE_HIGH>
            , <&xiao_d 8 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH>
            , <&xiao_d 10 GPIO_ACTIVE_HIGH>
            ;
    };
};

/* Disable serial pins so D7 can be used as GPIO */
&xiao_serial {
    status = "disabled";
};

&sercom0 { status = "disabled"; };
&sercom4 { status = "disabled"; };
