#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A  /* Mapped to D0 */
                &kp B  /* Mapped to D1 */
            >;
        };
    };
};
